.site-header__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 79px;

}

.site-header__menu{
  display: flex;
  align-items: center;
}

.site-header__list{
  display: flex;
  align-items: center;
  list-style: none;
}

.site-header__item{
  margin-left: 30px;
}

.site-header__link{
  text-decoration: none;
  font-size: 15px;
  line-height: 22px;
  color: #333333;
  padding: 10px 0;
}

.site-header__link:hover{
  color: rgb(0,0,0);
  border-bottom: 2px solid rgb(136,136,136);
}

.site-form__label{
  margin-left: 40px;
}

.site-form__input{
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  color: #666666;
  border: none;
  padding: 6px 0;
  border-bottom: 2px solid #333333;
}

.site-form__input:focus{
 outline: transparent;
 color: #000;
}
