.sport-band{
  padding-bottom: 70px;
}

.sport-band__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sport-band__info{
  width: 490px;
  margin-right: 110px;
  }

  .sport-band__title{
    font-weight: bold;
    font-size: 50px;
    line-height: 60px;
    color: #000000;
    margin: 0;
  }

  .sport-band__text{
    line-height: 24px;
  color: #777777;
  border-left: 3px solid #888888;
  margin: 30px 0;
  padding-left: 40px;
  }

  .sport-band__link{
  padding: 12px 90px;
  }
